<!DOCTYPE html>
<html>
<head>
	<link rel="apple-touch-icon" sizes="57x57" href="/favicon_benevole/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicon_benevole/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicon_benevole/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicon_benevole/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicon_benevole/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicon_benevole/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicon_benevole/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicon_benevole/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon_benevole/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicon_benevole/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon_benevole/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon_benevole/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon_benevole/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon_benevole/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=Templus.nome_aplicacao%> | <%=Templus.nome_empresa%> </title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">
		<%= render 'layouts/menu' %>
		<div id="page-wrapper" class="gray-bg <%= @extra_class %>">
			<%= flash_messages_for %>
			<%= render 'layouts/topnavbar' %>
			<div id="page-wrapper-main">
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>
	</div>
	<%= yield :javascript %>
</body>
</html>